.login{
    display: grid;
    height: 100%;
    padding: 50px;
    .container{
        background-color: #ffffff;
        margin: 0;
        padding: 30px 14px;
        width: 50%;
        align-items: center;
        justify-self: center;
        .ant-form-item-label{
            text-align: left;
        }
    }
}