/** NAVIGATION BAR */
.nas{
    overflow: hidden;
    display: grid;
    height: 64px;
    grid-template-columns: 1fr 1fr;
    div{
      justify-content: right;
      text-align: left;
    
      h1{
       margin: auto;
       color: #f2f2f2;
       text-decoration: none;
    
       font-size: 17px;
      }
    }
    .navigation{
      display: flex;
      justify-content: space-around;
      .nav-list{
    
    ul {
      text-align: center;
      list-style-type: none;
      justify-content: left;
      margin: 0;

      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 14px;
          &:hover {
            background-color: #333;
          }
        }
      }
    }
        
  }
  .btn{
    display: flex;
    padding: 14px;
    button{
      margin: 0px 5px;
      display: inline;
        font-family: "Fira Sans", sans-serif;
      
        border: none;
        outline: none;
        
    }
  }
  }
}